@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #23282d; */
  background-color: black;
  font-family: 'Fira Code', monospace;
  font-family: 'Merriweather Sans', sans-serif;
}