@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}
@font-face {
  font-family: 'Gotham';
  src: url('fonts/gotham-bold.woff2') format('woff2'),
       url('fonts/gotham-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
